@charset "UTF-8";
/* layout */
html,
body {
  width: 100%;
  height: 100%;
}

body.fixed {
  overflow-y: hidden;
}

.main {
  width: 100%;
  height: 100%;
  /* padding-top: 92px; */
}

#wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 313px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  z-index: 101;
  background-color: transparent;
  transition: 0.35s;
}

.header__inner {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.header__logo-gnb {
  display: flex;
  align-items: center;
  gap: 80px;
  height: 100%;
}

.logo {
  display: inline-block;
  width: 73px;
  height: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav.gnb {
  height: 100%;
}

nav.gnb ul {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
}

nav.gnb ul li {
  display: inline-block;
  height: 100%;
}

nav.gnb ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #111;
}

.header__btns .btn_purchase{
  background-color: transparent;
  width: 103px;
  border-width: 2px;
}
/* Footer */
.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -313px;
  height: 313px;
  transform: translateY(-100%);
  background-color: #333333;
}

.footer__inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
}

.footer_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #505050;
}

.footer_link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer_link li {
  position: relative;
  padding-right: 8px;
}

.footer_link li:last-child {
  padding-right: 0px;
}

.footer_link li::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #505050;
}

.footer_link li:last-child::after {
  content: none;
}

.footer_link li a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.footer_link li.privacy a {
  font-weight: 600;
}

.footer_bottom {
  margin-top: 24px;
}

.footer_bottom p.company_nm {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #999999;
}

.footer_bottom .footer_info {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer_bottom .footer_info li {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 1.5;
  color: #767676;
}

.footer_bottom .footer_info li span.info_tit {
  font-weight: 500;
  color: #999;
  position: relative;
  padding-right: 4px;
}

.footer_bottom .footer_info li span.info_tit::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #505050;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer_bottom p.copyright {
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.5;
  color: #505050;
}
@media screen and (max-width:1000px) {
  .header__gnb {
    gap: 24px
  }
  .header__gnb .logo {
    display: inline-block;
    width: 180px;
    height: 36px;
  }
  nav.gnb ul {
    gap: 16px;
  }
}
/* Mobile */
@media screen and (max-width:768px) {
  .main {
    padding-top: 64px;
  }

  #wrap {
    padding-bottom: 237px;
  }

  .header {
    height: 64px;
  }


  .footer {
    bottom: -237px;
    height: 237px;
  }

  .footer__inner {  
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0px;
    padding-top: 40px;
  }
}